* {
    margin: 0px;
}

:root {
    --elem-left-margin: 32px;
    --elem-top-margin: 12px;
    --elem-bottom-margin: 8px;
    --form-bg-col: white;
    --text-bg-col: rgb(243, 243, 243);
    --shadow: 0px 1px 5px 0px rgb(185, 185, 185);
}

.main-body {
    display: flex;
    background-color: red;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.logo-pane {
    background: no-repeat center/cover url(./resources/halie-west-25xggax4bSA-unsplash.jpg);
    display: flex;
    width: min(35%, 448px);
    height: 512px;
    flex-direction: column;
    justify-content: space-between;
}

.logo-bar {
    background-color: rgba(71, 71, 105, 0.7);
    margin-top: 128px;
    height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    height: 100px;
    width: 50px;
}

.logo-footer-bar {
    color: white;
    text-align: center;
}

.text-pane {
    display: flex;
    width: min(65%, 832px);
    height: 512px;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-bar {
    background-color: var(--text-bg-col);
    height: 50%;
}

.info-bar > p {
    margin: var(--elem-top-margin) 64px var(--elem-bottom-margin) var(--elem-left-margin);
}

.form-pane {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.form-bar {
    background-color: var(--form-bg-col);
    display: flex;
    flex-direction: column;
    box-shadow: var(--shadow);
    z-index: 1;
    padding-bottom: 24px;
}

.button-bar {
    background-color: var(--text-bg-col);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.form-bar > p {
    width: 100%;
    height: fit-content;
    margin: var(--elem-top-margin) 64px var(--elem-bottom-margin) var(--elem-left-margin);
}

.input-bar {
    display: flex;
    flex-wrap: wrap;
}

.account-input {
    width: 128px;
    height: 1rem;
}

.account-input:hover {
    box-shadow: var(--shadow);
}

.input-div {
    margin: var(--elem-top-margin) 32px var(--elem-bottom-margin) var(--elem-left-margin);
    display: flex;
    flex-direction: column;
}

.input-div > label {
    font-size: x-small;
}

.submit-button {
    width: 128px;
    height: 32px;
    background-color: aquamarine;
    border: none;
    border-radius: 8px;
    margin: var(--elem-top-margin) 32px var(--elem-bottom-margin) var(--elem-left-margin);
    box-shadow: var(--shadow);
}

.submit-button:hover {
    background-color: rgb(113, 240, 197);
}

.submit-button:active {
    background-color: rgb(205, 255, 238);
}

.button-bar > p {
    margin: 0px 32px var(--elem-bottom-margin) var(--elem-left-margin);
}

.input-bar > p {
    width: 136px;
    margin: var(--elem-top-margin) 32px var(--elem-bottom-margin) var(--elem-left-margin);
}

.required-text {
    font-size: x-small;
    margin: var(--elem-top-margin) 32px var(--elem-bottom-margin) 100px;
}